@import url("https://fonts.googleapis.com/css?family=Exo|Roboto:100,200,300,400,500");
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
/*-----------------------------------------Colors*/

.bg-color-title {
    background-color: grey;
}

.bg-color-three-reasons {
    background-color: #ffffff;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-skills {
    background-color: #ffffff;
}

.bg-color-work-history {
    background-color: #9b59b6;
}

.bg-color-contact {
    background-color: #ffffff;
}

.ul-menu-color-home{
    background-color:#ff1493;
}

.ul-menu-color-resume{
    background-color: #9b59b6;
}

.ul-menu-color-contact{
    background-color:#92d3ff;
}

.ul-menu-color-download{    
    background-color:#ff6347;
}    

/*------------------------landing-----*/

.landing{
    margin: 50% 50%;
}

.header{
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.logo{
    background:url(../images/cover2.png);
    background-repeat:no-repeat;
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.cover{
    background:url(https://raw.githubusercontent.com/teetsjeremy/ucd-milestone/master/monkees-logo.png);
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    background-color: #aaaaaa;*/
}

.span {
    position: fixed;
    padding:50px 50px;
    color: #a1a1a1;
    font-size: 150px;
}

.link{
    padding:30% 30%;
}

body, html{
    height: 100%;
    margin: 0;
    color: rgba(255, 255,255, .8);
    background-color: #5f687d;
}


.main {
    height: 100%;
}
.body{
    color:black;
}

h1{
    color:black;
    margin: 0 80%;
   
}

.head{
    background:url(https://www.monkees.com/sites/all/themes/twitter_bootstrap/bootstrap/img/monkees-logo.png);
    background-position: center;
    background-repeat:no-repeat;
}

.container1{
    min-height: 250px;
}


/*heading*/

/*-----------------------------------------Heading*/

header {
    margin: 30px;
}

.logo {
    background: url("../images/album.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: black;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}


.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.footer{
    background-color: grey;
    color:black;
    
}

.main-1{
    background:url(../images/band.jpg);
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size:13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    background:#e84610;
}

.row-footer-details{
    margin:20px;
}