.header{
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.logo{
    background:url(../images/cover2.png);
    background-repeat:no-repeat;
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.cover{
    background:url(../images/monkees.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

h6 {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: 'Permanent Marker', cursive;
    color: #fafafa;
    font-size: 50px;
}
