.header{
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.logo{
    background:url(../images/cover2.png);
    background-repeat:no-repeat;
    color: #fafafa;
    background-color:#aaaaaa;
    font-family: Roboto, sans-serif;
}

.cover{
    background:url(https://raw.githubusercontent.com/teetsjeremy/ucd-milestone/master/album2.jpg);
    min-height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #aaaaaa;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.span {
    position: fixed;
    padding:50px 50px;
    color: #a1a1a1;
    font-size: 150px;
}

body, html{
    height: 100%;
    margin: 0;
    color: rgba(255, 255,255, .8);
}


.main {
    height: 100%;
}

.button{
    background:url(https://www.monkees.com/sites/all/themes/twitter_bootstrap/bootstrap/img/monkees-logo.png);
    background-position: center;
    background-repeat:no-repeat;
    position: fixed;
    top:50%;
    left:50%;
    color:#f1f1f1;
    font-size:75px;
    }


h1{
    color:white;
    size: 75px;
    position:fixed;
}

.head-photo{
    background:url(../images/band.jpg;
}